.Rhistory
.Rapp.history
.RData
.Ruserdata

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
*_cache/
/cache/
cache/
.channel_cache

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
.Rprofile
all.qs
inputs/
outputs/

# saved simLists
spreadOut*
