.Rhistory
.Rapp.history
.RData
.Ruserdata

# RStudio files
.Rproj.user/

# simulation, knitr and R markdown cache directories
*_cache/
/cache/
cache/
cache
.channel_cache

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# simulation input/output directories
inputs/
outputs/
outputs

# saved simLists
spreadOut*

## R package libraries
packages/*
